/*
	Newsletter Forms Style sheet
	Author: Andrew Kotraba
	Date: 10/13/21
	Filename: fstyles.css
*/

/*Field Set Styles*/
fieldset{
	background-color: ivory;
	border: 2px solid rgb(37,62,231);
	float: left;
	margin: 10px 0px 10px 2.5%;
	width: 46%;
	box-sizing: border-box;
}

Legend{
	background-color: rgb(37,62,231);
	color: white;
	padding: 5px;
	font-family: Arial;
}

/*Label Styles*/
label{
	clear:left;
	display:block;
	float:left;
	font-size: 0.9em;
	margin: 7px 4% 7px 5px;
	width: 40%;
	font-family: Arial;
}

/*Input control styles*/
input{
	display: block;
	float: left;
	font-size: 0.9em;
	margin:7px 0px;
	width:50%;
}

/* Selection List styles*/
select{
	display: block;
	float: left;
	font-size: 0.9em;
	margin: 7px 0px;
}

/* Year styles*/
#years {
	width:50px;
}

/*Checkbox styles*/
input#call {
	clear: left;
	width: 25px;
}

input#call+label {
	clear: none;
	width: auto;
}

/*Button styles*/
input[type="submit"] {
	clear: left;
}

input[type="submit"], input[type="reset"] {
	height: 40px;
	margin-right:20px;
	width:200px;
}

/*Validation styles*/
input:focus, select:focus{
	background-color:ivory;
}

input:focus:valid{
	background: rgb(220,255,220) url(go.png) bottom right no-repeat;
	-o-background-size: contain;
	-moz-background-size: contain;
	-webkit-background-size: contain;
	background-size: contain;
}

input:focus:invalid{
	background: rgb(255,232,233) url(stop.png) bottom right no-repeat;
	-o-background-size: contain;
	-moz-background-size: contain;
	-webkit-background-size: contain;
	background-size: contain;
}